<div class='cargaGifContainer'>
  <h1>Bienvenidos al mundo del Comic</h1>
  <img class='cargaGif' src='../assets/fondoCarga.gif' alt='' />
</div>

<script>
  function redireccionar(pagina) { location.href = pagina; } function volver() {
  console.log('volver'); setTimeout(() => redireccionar('/productos'), 3000); }
  volver();

</script>