<div>
  <div class='TYMessage'>
    <h1>USER LOGIN ERROR</h1>
    <h4>Check User and password or Register a new User...</h4>
    <button class='btn' onclick='volver()'>Go Back to LogIn Page</button>
  </div>
</div>

<script>
  function redireccionar(pagina) { location.href = pagina; } function volver() {
  console.log('Go Back to Login'); redireccionar('/') }
</script>