<div>
  <h1 class='text-center'>Centro de mensajes</h1>

  <form class='formEmail' id='messageForm'>
    <input
      placeholder='Ingrese su e-mail'
      type='email'
      name='email'
      id='usernameInput'
    />

    <textarea
      placeholder='Mensaje'
      type='text'
      name='message'
      id='messageInput'
    ></textarea>
    <input class='btn' type='submit' value='Enviar' />
  </form>
</div>